<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name='viewport' content='width=device-width, initial-scale=1'>
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<button class="btn"> حذف المورد <i class="fa fa-trash"></i></button>
<button class="btn1"> حفظ التغييرات </button>


<label class="switch" >
  <input type="checkbox">
  <span class="slider round"> </span>
</label>

 
<br><br> 

  

<body ng-app="">
  
  <div dir="rtl" lang="ar">
    
    <div class="container">
    <div class="row">
      
      <div class="small-12 medium-2 large-2 columns">
        <div class="circle">
          <img class="profile-pic" src="https://t3.ftcdn.net/jpg/03/46/83/96/360_F_346839683_6nAPzbhpSkIpb8pmAwufkC7c5eD7wYws.jpg">
        </div>
        <div class="p-image">
          <i class="fa fa-camera upload-button"></i>
           <input class="file-upload" type="file" accept="image/*"/>
        </div>
        
     </div>
   </div>
  <!-- <script> $(document).ready(function () {
    var readURL = function (input) {
      if (input.files && input.files[0]) {
        var reader = new FileReader();
  
        reader.onload = function (e) {
          $(".profile-pic").attr("src", e.target.result);
        };
  
        reader.readAsDataURL(input.files[0]);
      }
    };
  
    $(".file-upload").on("change", function () {
      readURL(this);
    });
  
    $(".upload-button").on("click", function () {
      $(".file-upload").click();
    });
  });
</script> -->
   <br><br><br>
  <div ng-app="myApp" ng-controller="formCtrl">
    <form>
      <label for="">اسم الموارد:</label>
       <input type="text" ng-model="firstname">
    </form>
  </div>
  
  <script>
  var app = angular.module('myApp', []);
  app.controller('formCtrl', function($scope) {
      $scope.firstname = "هيثم محمد";
  });
  
  </script>
  <br>

  <form>
    اختر نوع المورد:
    <input type="radio" ng-model="myVar" value="1">
    <label>حجز خلال اليوم</label>
    <input type="radio" ng-model="myVar" value="2">
    <label>حجز مدة(اكثر من يوم)</label>
  </form>
  <div ng-switch="myVar">
    <div ng-switch-when="1">
       
    </div>
    <div ng-switch-when="2">
       
    </div>
  </div>
</div>
  <div >
    <form>
      
      
      <br><br>
      <div class="container1" >
        <label for="">المورد متاح الى</label>
      <br><br>
      <select class="dropdown" name="month" id="month">
        <option value="jan">1</option>
        <option value="feb">2</option>
        <option value="march">3</option>
        <option value="april">4</option>
        <option value="may">5</option>
        <option value="june">6</option>
        <option value="july">7</option>
        <option value="aug">8</option>
        <option value="sep">9</option>
        <option value="oct">10</option>
        <option value="nov">11</option>
        <option value="dec">12</option>
      </select>
      <select class="dropdown" name="month" id="month">
        <option value="jan">يناير</option>
        <option value="feb">فبراير</option>
        <option value="march">مارس</option>
        <option value="april">ابريل</option>
        <option value="may">مايو</option>
        <option value="june">يونيو</option>
        <option value="july">يوليو</option>
        <option value="aug">اغسطس</option>
        <option value="sep">سبتمبر</option>
        <option value="oct">اكتوبر</option>
        <option value="nov">نوفبر</option>
        <option value="dec">ديسمبر</option>
      </select>
      <br><br>
      <form>
        <label for="">وقت المورد</label><br><br>
        <input type="radio" ng-model="myVar" value="1">
        <label>وقت الخدمة</label>
        <input type="radio" ng-model="myVar" value="2">
        <label>الوقت ثابت</label>
      </form>
      <div ng-switch="myVar">
        <div ng-switch-when="1">
           
        </div>
        <div ng-switch-when="2">
           
        </div>
      </div>
      <br><br>
      <form>
        <label for="">الحجز المتعدد</label><br><br>
        <input type="radio" ng-model="myVar" value="1">
        <label>حجز واحد فقط</label>
        <input type="radio" ng-model="myVar" value="2">
        <label>حجز اكثر من شخص لنفس الموعد   </label>
      </form>
      <div ng-switch="myVar">
        <div ng-switch-when="1">
           
        </div>
        <div ng-switch-when="2">
           
        </div>
      </div>
    </div>
      
      
    </form>
  </div>
  
    
  
  </div>
  <div class="container2">
    <form>
      <h1 class="s">حدد مواعيد العمل للمورد</h1>
      <h6>تكوين إعدادات الأسبوع الخاص بك هنا ما عليك سوى تحريك أشرطة التمرير وإضافة/ إزالة أوقات الراحة لإعداد ساعات العمل</h6><br>
      <label class="text" for="appt-time">   السبت  </label>
      <label class="switch3" >
        <input type="checkbox">
        <span class="slider round"> </span>
      </label>
      <br>
      <label >  وقت البدء</label>
      <label class="one" >  وقت الانتهاء</label>
      <br>
      <!-- <i class='fas fa-plus-circle' style='font-size:36px'></i> -->
      <input  id="appt-time" type="time" name="appt-time" /> 
      <input class="one" id="appt-time" type="time" name="appt-time" />
      <label for="appt-time">   الاحد  </label>
      <label class="switch2" >
        <input type="checkbox">
        <span class="slider round"> </span>
      </label>
      <br>
      <input id="appt-time" type="time" name="appt-time" />
      <input class="one" id="appt-time" type="time" name="appt-time" />
      <br>
      <input id="appt-time" type="time" name="appt-time" />
      <input class="one" id="appt-time" type="time" name="appt-time" />
      <br>
      <input  id="appt-time" type="time" name="appt-time" />
      <input class="one" id="appt-time" type="time" name="appt-time" />
      <label for="appt-time">   الاثنين  </label>
      <label class="switch2" >
        <input type="checkbox">
        <span class="slider round"> </span>
      </label>
      <br>
      <input  id="appt-time" type="time" name="appt-time" />
      
      <input class="one" id="appt-time" type="time" name="appt-time" />
      <label for="appt-time">   الثلاثاء  </label>
      <label class="switch2" >
        <input type="checkbox">
        <span class="slider round"> </span>
      </label>
      <br>
      <input  id="appt-time" type="time" name="appt-time" />
      <input class="one" id="appt-time" type="time" name="appt-time" />
      <label for="appt-time">   الاربعاء  </label>
      <label class="switch2" >
        <input type="checkbox">
        <span class="slider round"> </span>
      </label>
      <br>
      <input  id="appt-time" type="time" name="appt-time" />
      <input class="one" id="appt-time" type="time" name="appt-time" />
      <label for="appt-time">   الخميس  </label>
      <label class="switch2" >
        <input type="checkbox">
        <span class="slider round"> </span>
      </label>
      <br>
      <label  class="text" for="appt-time">   الجمعة  </label>
      <label class="switch3" >
        <input type="checkbox">
        <span class="slider round"> </span>
      </label>
      <br>
      
    </form>
  </div>
  </body>